        <footer class="text-center small tm-footer">
          <p class="mb-0">
          Copyright &copy; <%- new Date().getFullYear() %> Ihtaki-dev
          . <a rel="nofollow" href="https://www.tooplate.com" title="HTML templates">Designed Robert Q</a>
          </p>
        </footer>